---
export const prerender = true
import Layout from '@/layouts/Layout.astro'
import { PortableText } from 'astro-portabletext'
import Image from '@/components/Image.astro'
import Title from '@/components/Title.astro'
import Code from '@/components/Code.astro'
import BlockQuote from '@/components/BlockQuote.astro'
import Paragraph from '@/components/Paragraph.astro'
import List from '@/components/List.astro'
import ListItem from '@/components/ListItem.astro'
import { getPost, getPosts } from '@/utils'
import { ArrowLeftCircle } from 'lucide-react'
import TitleH3 from '@/components/TitleH3.astro'
import TitleH4 from '@/components/TitleH4.astro'
import ListNumber from '@/components/ListNumber.astro'
import BlogPostLayout from '@/layouts/BlogPostLayout.astro'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: {
      slug: post.slug.current,
    },
  }))
}

const { slug } = Astro.params
const post = await getPost(slug)

const components = {
  type: {
    code: Code,
  },
  block: {
    blockquote: BlockQuote,
    h1: Title,
    h2: Title,
    h3: TitleH3,
    h4: TitleH4,
    normal: Paragraph,
  },
  list: {
    bullet: List,
    number: ListNumber,
  },
  listItem: {
    bullet: ListItem,
    number: ListItem,
  },
  mark: {
    code: Code,
  },
}
---

<BlogPostLayout title={post?.title}>
  {
    post && (
      <article style='width: 100%; margin-top: 6.25rem;'>
        <div style='display: flex; justify-content: center; align-items: center;'>
          {post.mainImage ? (
            <Image asset={post.mainImage} alt={post.mainImage.alt} />
          ) : (
            ''
          )}
        </div>
        <div style='margin-block: 6rem;'>
          <h1 style='text-align: center; text-transform: capitalize; font-size: 1.875rem; line-height: 2.25rem;'>
            {post.title}
          </h1>
        </div>
        <div style='max-width: 65ch; margin-inline: auto;'>
          <PortableText value={post.body} components={components} />
        </div>
      </article>
    )
  }
  <div style='margin-top: 1rem;'>
    <a href='/blog' style='display: flex; gap: 0.5rem; align-items: center;'>
      <ArrowLeftCircle size='20' />
      Go back</a
    >
  </div>
</BlogPostLayout>
