---
import Layout from '@/layouts/Layout.astro'
import { PortableText } from 'astro-portabletext'
import Image from '@/components/Image.astro'
import Title from '@/components/Title.astro'
import Code from '@/components/Code.astro'
import BlockQuote from '@/components/BlockQuote.astro'
import Paragraph from '@/components/Paragraph.astro'
import List from '@/components/List.astro'
import ListItem from '@/components/ListItem.astro'
import { Button } from '@/components/ui/button'
import { getPost, getPosts } from '@/utils'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: {
      slug: post.slug.current,
    },
  }))
}

const { slug } = Astro.params
const post = await getPost(slug)

const components = {
  type: {
    code: Code,
  },
  block: {
    blockquote: BlockQuote,
    h1: Title,
    h2: Title,
    normal: Paragraph,
  },
  list: {
    bullet: List,
    number: List,
  },
  listItem: {
    bullet: ListItem,
    number: ListItem,
  },
  mark: {
    code: Code,
  },
}
---

<Layout>
  <article>
    <div class='flex justify-center items-center'>
      {
        post.mainImage ? (
          <Image asset={post.mainImage} alt={post.mainImage.alt} />
        ) : (
          ''
        )
      }
    </div>
    <div class='my-24'>
      <h1 class='text-3xl text-center capitalize'>
        {post.title}
      </h1>
    </div>
    <div class='max-w-prose'>
      <PortableText value={post.body} components={components} />
    </div>
  </article>
  <div>
    <Button id='go-back' client:visible>Back</Button>
  </div>
</Layout>

<script>
  document.getElementById('go-back')?.addEventListener('click', handleGoBack)

  function handleGoBack() {
    window.history.back()
  }
</script>
